.employee-import-tabs {
    margin-top: 10px;
}

.employee-import-tab {
    margin-right: 5px;
}

.employee-import-tab[aria-selected="true"] {
  color: #e4fb00; /* or any highlight color you want */
  background-color: #333; /* example background */
  font-weight: bold;
}